/* ------------- Init ------------- */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #DBEDF3;
    background-color: hsl(224, 29%, 22%);
}

/* ------------- Navigation ------------- */
header {
    margin-bottom: 130px;
}
.navbar {
    background-color: hsl(224, 29%, 17%);
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 998;
}
.logo-bobine {
    width: 70px;
    filter: drop-shadow(3px 0 #DA0463);}
nav a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin:0 10px;
}
.text-accueil {
    font-size: 50px;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    color: rgb(232, 232, 240);
}
.navbar .logo-link {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}
.container-namelinks {
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.nav-right li {
    list-style-type: none; 
    margin: 30px;
    padding: 0px;
}
.dropdownmenu ul {
    opacity: 0;
    border-radius: 10px;
    box-shadow: 5px 5px hsl(228, 28%, 12%);
    background: hsl(228, 28%, 17%);
    padding: 10px;
    z-index: 10; 
    position: absolute;
    top: -50px; 
    right: 0px;
    transition: opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
}
.dropdownmenu li {
    position: relative;
}
.dropdownmenu a {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
    text-align: center;
}
.dropdownmenu .sub-menu a:active {
    background: hsl(228, 28%, 12%);
}
.sub-menu li a{
    margin-bottom: 30px;
    width: 100%;
}
.menu-arrow {
    margin: 0 0 0 15px ;
    font-weight: bold;
    font-size: 1.3em;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}
.dropdownmenu:hover .menu-arrow{
    transform: rotate(-90deg);
}
.dropdownmenu:hover ul {
    opacity: 1;
    transform: translateY(100px);
}
.nav-right a {
    display: flex;
    align-items: center;
    position: relative;
    transition: text-shadow 0.4s ease-in-out;
}
.nav-right .sub-menu a::before {
    content: "";
    position: absolute;
    background: #DBEDF3;
    box-shadow: 3px 3px #DA0463;;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
.nav-right .sub-menu a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}
.nav-right .sub-menu a:hover {
    text-shadow: 3px 0 #DA0463;
}



/* ------------- Best Movie Section ------------- */

.best-movie-section {
    max-width: 935px;
    min-height: 350px;
    margin: 50px auto;
    padding: 25px 30px;
    background: hsl(224, 29%, 12%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1000px) {
    .best-movie-section {
        margin: 50px 20px 20px;
    }
}
.best-movie-head {
    display: flex;
}
.best-movie-title-btn {
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.title-best-movie {
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
    height: 50%;
    padding: 5px 10px;
}
.cover-best-movie {
    width: 50%;
    min-height: 150px;
    max-height: 200px;
    margin: 10px;
}
.cover-best-movie img {
    height: 100%;
    max-width: 100%;
    background: rebeccapurple;
}
.best-movie-title-btn button {
    min-width: 45%;
    min-width: 55%;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 999px;
    color: #791613;
    font-size: 20px;
    background: hsl(27, 100%, 50%);
    box-shadow: 2px 2px 1px;
    transition: all 0.2s ease-in;
}
.best-movie-title-btn button:hover{
    background: hsl(32, 86%, 46%);
    cursor: pointer;
    color: hsl(333, 96%, 34%);
}
.best-movie-title-btn button:active{
    box-shadow: 0px 0px 0px;
    transform: translate(3px, 3px);
}
.resume-best-movie {
    margin-top: 15px;
}
.resume-best-movie span {
    text-decoration: underline
}
.resume-best-movie p {
    text-align: left;
}


/* ------------- Carousels ------------- */

.carousels {
    margin: auto;
}
@media (max-width: 1000px) {
    .carousels {
        margin: 15px;
    }
}
.carousel-container {
    background: hsl(224, 29%, 32%);
    width: 950px;
    margin: 50px auto;
    position: relative;
    border-radius: 50px;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: hsl(224, 29%, 7%);
}
.carousels h3 {
    padding-top: 15px;
    text-decoration: underline;
    font-family: "Arvo", cursive;
}
@media (max-width: 1000px) {
    .carousel-container {
        width: 90%;
    }
}
.inner-carousel {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.track {
    display: inline-flex;
    height: 100%;
    transition: transform 0.9s ease-in-out;
}
.card-container {
    width: 295px;
    /* width: 275px; */
    height: 400px;
    /* flex-shrink: 0; */
    padding-right: 10px;
}
.card {
    width: 100%;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    background-position: center bottom;
    background-size: 80%;
    /* background-size: center; */
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: border-bottom 0.2s ease-in-out;
    }
.card:hover {
    border-bottom: 2px solid hsl(224, 29%, 7%);;
}
.carousel-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
}
.carousel-nav .prev {
    left: -30px;
    display: none;
}
.carousel-nav .prev.show {
    display: block;
}
.carousel-nav .next {
    right: -30px;
}
.carousel-nav .next.hide {
    display: none;
}


/* ------------- Modal ------------- */

.modal-btn {
    cursor: pointer;
}
.modal-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
    z-index: 999;
}
.modal-container.active {
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 0;
    width: 95%;
    max-width: 800px;
    min-width: 400px;
    margin-top: 70px;
    padding: 30px;
    background: hsl(224, 29%, 22%);
    border-radius: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
}
.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
}

.modal #modalImg {
    border: 10px groove;
}
.modal .img-title {
    display: flex;
    text-align: center;
    border-radius: 15px;
    background: hsl(224, 29%, 12%);
}
.modal .modalHead {
    /* background: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
}

.modal h2 {
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-align: center;
}

.modal-actors {
    margin: 10px;
    padding: 10px;
    box-shadow: inset -5px -5px 5px hsl(224, 29%, 18%);
}

.modal p {
    line-height: 1.4;
    margin-bottom: 5px;
}
#modalResume {
    max-height: 150px;
    box-shadow: -5px -5px 5px hsl(224, 29%, 20%);
    margin: 10px;
    padding: 25px;
    overflow: scroll;
    background: hsl(224, 29%, 23%);
}



/* ------------- Footer ------------- */

footer {
    margin-top: 200px;
    background: hsl(224, 29%, 10%);
    color: whitesmoke;
    padding-bottom: 50px;
    font-family: "Arvo", cursive;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1100px;
    margin: -100px auto 0;
    padding: 0 20px;
}
.footer-form {
    flex-basis: 60%;
    background: #791613;
    height: 350px;
    padding: 70px;
}
.form-title {
    font-size: 40px;
    color: #F1F1F1;
    margin-bottom: 75px;
}
.footer-form input {
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
}
.footer-form button {
    padding: 10px 5px;
    border: none;
    width: 100%;
    margin-top: 10px;
    background: #1a1a1a;
    color: #f1f1f1;
    font-size: 18px;
    transition: all 0.4s ease-in-out;

}
.footer-form button:hover{
    background: #333; 
    color: rgb(19, 121, 24);
    cursor: pointer;
}
  
.about-footer, .footer-list, .medias-footer {
    min-height: 250px;
}
.about-footer {
    width: 40%;
    padding: 90px 40px 0;
}
.footer-title {
    font-size: 20px;
    padding-bottom: 10px;
}
.footer-text {
    line-height: 1.4px;
}
.footer-list, .medias-footer {
    padding: 50px 0 0;
    width: 33%;
}
.footer-list ul
{
    margin-left: 15px;
}
.footer-list ul li {
    padding: 4px 0;
}
.footer-list ul a {
    text-decoration: none;
    color: #f1f1f1;
    transition: text-shadow 0.2s ease-in-out;
}
.footer-list ul a:hover {
    text-decoration: underline;
    text-shadow: 3px 0 #DA0463;
}
.medias-footer {
    display: flex;
}
.medias-footer a {
    flex-shrink: 0;
    display: block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: #791613;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.4s ease-in-out;
}
.medias-footer a:hover {
    background: hsl(2, 73%, 42%);
    color: rgb(204, 204, 204);
}
.medias-footer img {
    width: 30px;
}
